{% extends '::base.html.twig' %}

{% block body -%}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <section>

                    <ul class="breadcrumb">
                        <li><a href="{{ path('delma_home') }}">Dashboard</a> <span class="divider">/</span></li>
                        <li><a href="{{ path('test_cytology_general') }}">Cytology - General Test</a> <span class="divider">/</span></li>
                        <li class="active">New Test</li>
                    </ul>

                    <div class="row show-grid">
                        <div class="span8 offset2">

                            <h4>Cytology - General Test - New</h4>
                            <form action="{{ path('test_cytology_general_create') }}" method="post" {{ form_enctype(form) }}>

                                {{ include('DelmaEquineBundle::testAddExtras.html.twig') }}

                                <hr />

                                <div class="row-fluid">
                                    <div class="span2 right">Cell Sample Prepared</div>
                                    <div class="span4">{{ form_widget(form.cellSamplePrep) }}</div>
                                    <div class="span2 right">C&S Aerobic</div>
                                    <div class="span4">{{ form_widget(form.csaerobic) }}</div>

                                </div>

                                <div class="row-fluid">
                                    <div class="span2 right">Sample Stain</div>
                                    <div class="span4">{{ form_widget(form.sampleStain) }}</div>
                                    <div class="span2 right">C&S Anaerobic</div>
                                    <div class="span4">{{ form_widget(form.csanaerobic) }}</div>
                                </div>
                                <hr />
                                <div class="row-fluid">
                                    <div class="span2 right">{{ form_widget(form.test1) }}</div>
                                    <div class="span4 ">PMNS</div>
                                    <div class="span2 right">{{ form_widget(form.test2) }}</div>
                                    <div class="span4">MUCOUS</div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 right">{{ form_widget(form.test3) }}</div>
                                    <div class="span4">LYMPHS</div>
                                    <div class="span2 right">{{ form_widget(form.test4) }}</div>
                                    <div class="span4">BACTERIA</div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2 right">{{ form_widget(form.test5) }}</div>
                                    <div class="span4">MONO</div>
                                    <div class="span2 right">{{ form_widget(form.test6) }}</div>
                                    <div class="span4">COCCI</div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 right">{{ form_widget(form.test7) }}</div>
                                    <div class="span4">MACROPHAGE</div>
                                    <div class="span2 right">{{ form_widget(form.test8) }}</div>
                                    <div class="span4">RODS</div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2 right">{{ form_widget(form.test9) }}</div>
                                    <div class="span4">RBCS</div>
                                    <div class="span2 right">{{ form_widget(form.test10) }}</div>
                                    <div class="span4">INTRA CELLULAR</div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 right">{{ form_widget(form.test11) }}</div>
                                    <div class="span4">DEBRIS</div>
                                    <div class="span2 right">{{ form_widget(form.test12) }}</div>
                                    <div class="span4">EXTRA CELLULAR</div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span12 ta600"><b>Microscopic Evaluation</b> <br />{{ form_widget(form.microscopicEval) }}</div>
                                </div>

                                <div  style="margin: 0 30px;">
                                    <button class="btn btn-primary" type="submit" value="Save" ><i class="icon-ok-sign icon-white"></i> Save</button>
                                    <button class="btn btn-warning" type="reset" value="Reset"><i class="icon-refresh icon-white"></i> Refresh</button>
                                </div>

                                {{ form_row (form._token) }}
                            </form>

                            <hr />
                            <div style="padding: 0 40px 20px;">
                                <div class="btn"><a href="{{ path('test_cytology_general') }}"><i class="icon-arrow-left"></i> Back to the list</a></div>
                                <div class="pull-right"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
{% endblock %}
