{% if showHema == true %}
    <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
        <p class="labt">LABORATORY REPORT</p>
    </div>
    <div class="main" style="font-size: 12px; display: block; font-weight: bold;">
        <div class="head-name">Horse: </div>
        <div class="head-content-R1">{{ horseInfo.name }}</div>
        <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
        <div class="head-content-R2">{{ firstTestDate|date('m-d-Y') }} To: {{ lastTestDate|date('m-d-Y') }}</div>
        <div class="clear"></div>
        <div class="head-name">Stable: </div>
        <div class="head-content-R1">{{ stableInfo.name }}</div>
        <div class="head-name">Doctor:</div>
        <div class="head-content-R2">{{ entities[0].doctor.name }}</div>
        <div class="clear"></div>
        <div style="font-weight:bold; font-size:14pt;">Hematology</div>
        <div style="float:right; padding-right:10px;">Page: {{ 0|pageNo }}</div>
    </div>
    <div class="clear"></div>
    <br />

    <table class="table table-bordered table-hover table-condensed table-centered">
    <thead>
    <tr style="font-size: 10px;">
        <th></th>
        <th colspan="7">CBC</th>
        <th colspan="13">DIFFERENTIAL</th>
    </tr>
    <tr style="font-size: 10px;">
        <th>Date/Time</th>
        <th width="0">WBC</th>
        <th width="0">HCT</th>
        <th width="0">HB</th>
        <th width="0">RBC</th>
        <th width="0">MCV</th>
        <th width="0">MCH</th>
        <th width="0">MCHC</th>
        <th colspan="2">NEUT</th>
        <th colspan="2">LYMPH</th>
        <th colspan="2">MONO</th>
        <th colspan="2">EOSINO</th>
        <th colspan="2">BASO</th>
        <th width="0" style="white-space: nowrap;">BANDS %</th>
        <th width="0">PTP</th>
        <th width="0" style="white-space: nowrap;">FIB</th>
    </tr>
    <tr style="font-size: 10px;">
        <td></td>
        <td width="0" style="white-space: nowrap;">6 - 12<br />10E9/L</td>
        <td width="0" style="white-space: nowrap;">32 - 48<br />%</td>
        <td width="0" style="white-space: nowrap;">10 - 18<br />g/dL</td>
        <td width="0" style="white-space: nowrap;">6 - 12<br />10E6/UL</td>
        <td width="0" style="white-space: nowrap;">34 - 58<br />FL</td>
        <td width="0" style="white-space: nowrap;">13 - 19<br />Pg</td>
        <td width="0" style="white-space: nowrap;">31 - 37<br />g/gL</td>
        <td width="0" style="white-space: nowrap;">50-60<br />%</td>
        <td width="0" style="white-space: nowrap;">3.0-6-5<br />X10E9/L</td>
        <td width="0" style="white-space: nowrap;">36-48<br />%</td>
        <td width="0" style="white-space: nowrap;">2.0-5.0<br />X10E9/L</td>
        <td width="0" style="white-space: nowrap;">3-6<br />%</td>
        <td width="0" style="white-space: nowrap;">0.2-1.0<br />X10E9/L</td>
        <td width="0" style="white-space: nowrap;">1-2<br />%</td>
        <td width="0" style="white-space: nowrap;">0.1-0.5<br />X10E9/L</td>
        <td width="0" style="white-space: nowrap;">0-1<br />%</td>
        <td width="0" style="white-space: nowrap;">0-0.9<br />X10E9/L</td>
        <td width="0" style="white-space: nowrap;"><br />%</td>
        <td width="0" style="white-space: nowrap;">6.0-8.5<br />g/dL</td>
        <td width="0" style="white-space: nowrap;">100-400<br />mg%</td>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td style="white-space: nowrap; text-align: left;">{{ entity.testedDate|date('m-d-Y H:i:s') }}</td>
            <td>{{ entity.hWbc|number_format(1, '.', '') }}</td>
            <td>{{ entity.hHct|number_format(1, '.', '') }}</td>
            <td>{{ entity.hHb|number_format(1, '.', '') }}</td>
            <td>{{ entity.hRbc|number_format(1, '.', '') }}</td>
            <td>{{ entity.hMcv|number_format(1, '.', '') }}</td>
            <td>{{ entity.hMch|number_format(1, '.', '') }}</td>
            <td>{{ entity.hMchc|number_format(1, '.', '') }}</td>
            <td>{{ entity.hNeut|number_format(0, '.', '') }}</td>
            <td>{{ entity.hNeut2|number_format(0, '.', '') }}</td>
            <td>{{ entity.hLymph|number_format(0, '.', '') }}</td>
            <td>{{ entity.hLymph2|number_format(0, '.', '') }}</td>
            <td>{{ entity.hMono|number_format(0, '.', '') }}</td>
            <td>{{ entity.hMono2|number_format(0, '.', '') }}</td>
            <td>{{ entity.hEosino|number_format(0, '.', '') }}</td>
            <td>{{ entity.hEosino2|number_format(0, '.', '') }}</td>
            <td>{{ entity.hBaso|number_format(0, '.', '') }}</td>
            <td>{{ entity.hBaso2|number_format(0, '.', '') }}</td>
            <td>{{ entity.hBands|number_format(0, '.', '') }}</td>
            <td>{{ entity.hPtp|number_format(1, '.', '') }}</td>
            <td>{{ entity.hHpFib|number_format(0, '.', '') }}</td>
        </tr>
        {% if loop.index % 25 == 0 and loop.last != true %}
            </tbody>
            </table>
            <p style=" text-align:center; font-size: 12px;">P O Box 9373, Dubai, UAE. Tel: 3366666, Fax: 3359575 | Lab Fax: 3366797</p>
            <div class="page-break"></div>
            <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
                <p class="labt">LABORATORY REPORT</p>
            </div>
            <div class="main" style="font-size: 12px; display: block; font-weight: bold;">
                <div class="head-name">Horse: </div>
                <div class="head-content-R1" style="text-transform:uppercase;">{{ horseInfo.name }}</div>
                <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
                <div class="head-content-R2">{{ firstTestDate|date('m-d-Y') }} To: {{ lastTestDate|date('m-d-Y') }}</div>
                <div class="clear"></div>
                <div class="head-name">Stable: </div>
                <div class="head-content-R1">{{ stableInfo.name }}</div>
                <div class="head-name">Doctor:</div>
                <div class="head-content-R2">{{ entities[0].doctor.name }}</div>
                <div class="clear"></div>
                <div style="font-weight:bold; font-size:14pt;">Hematology</div>
                <div style="float:right; padding-right:10px;">Page: {{ 0|pageNo }}</div>
            </div>
            <div class="clear"></div>
            <br />
            <table class="table table-bordered table-hover table-condensed table-centered">
            <thead>
            <tr style="font-size: 10px;">
                <th></th>
                <th colspan="7">CBC</th>
                <th colspan="13">DIFFERENTIAL</th>
            </tr>
            <tr style="font-size: 10px;">
                <th>Date/Time</th>
                <th width="0">WBC</th>
                <th width="0">HCT</th>
                <th width="0">HB</th>
                <th width="0">RBC</th>
                <th width="0">MCV</th>
                <th width="0">MCH</th>
                <th width="0">MCHC</th>
                <th colspan="2">NEUT</th>
                <th colspan="2">LYMPH</th>
                <th colspan="2">MONO</th>
                <th colspan="2">EOSINO</th>
                <th colspan="2">BASO</th>
                <th width="0" style="white-space: nowrap;">BANDS %</th>
                <th width="0">PTP</th>
                <th width="0" style="white-space: nowrap;">FIB</th>
            </tr>
            <tr style="font-size: 10px;">
                <td></td>
                <td width="0" style="white-space: nowrap;">6 - 12<br />10E9/L</td>
                <td width="0" style="white-space: nowrap;">32 - 48<br />%</td>
                <td width="0" style="white-space: nowrap;">10 - 18<br />g/dL</td>
                <td width="0" style="white-space: nowrap;">6 - 12<br />10E6/UL</td>
                <td width="0" style="white-space: nowrap;">34 - 58<br />FL</td>
                <td width="0" style="white-space: nowrap;">13 - 19<br />Pg</td>
                <td width="0" style="white-space: nowrap;">31 - 37<br />g/gL</td>
                <td width="0" style="white-space: nowrap;">50-60<br />%</td>
                <td width="0" style="white-space: nowrap;">3.0-6-5<br />X10E9/L</td>
                <td width="0" style="white-space: nowrap;">36-48<br />%</td>
                <td width="0" style="white-space: nowrap;">2.0-5.0<br />X10E9/L</td>
                <td width="0" style="white-space: nowrap;">3-6<br />%</td>
                <td width="0" style="white-space: nowrap;">0.2-1.0<br />X10E9/L</td>
                <td width="0" style="white-space: nowrap;">1-2<br />%</td>
                <td width="0" style="white-space: nowrap;">0.1-0.5<br />X10E9/L</td>
                <td width="0" style="white-space: nowrap;">0-1<br />%</td>
                <td width="0" style="white-space: nowrap;">0-0.9<br />X10E9/L</td>
                <td width="0" style="white-space: nowrap;"><br />%</td>
                <td width="0" style="white-space: nowrap;">6.0-8.5<br />g/dL</td>
                <td width="0" style="white-space: nowrap;">100-400<br />mg%</td>
            </tr>
            </thead>
            <tbody>
        {% endif %}
    {% endfor %}
    </tbody>
    </table>
    <div class="divFooter"><p style="text-align:center; font-size: 12px;">P O Box 9373, Dubai, UAE. Tel: 3366666, Fax: 3359575 | Lab Fax: 3366797</p></div>
    <div class="page-break"></div>
{% endif %}

{% if showChem == true %}
    <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
        <p class="labt">LABORATORY REPORT</p>
    </div>
    <div class="main" style="font-size: 12px; display: block; font-weight: bold;">
        <div class="head-name">Horse: </div>
        <div class="head-content-R1">{{ horseInfo.name }}</div>
        <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
        <div class="head-content-R2">{{ firstTestDate|date('m-d-Y') }} To: {{ lastTestDate|date('m-d-Y') }}</div>
        <div class="clear"></div>
        <div class="head-name">Stable: </div>
        <div class="head-content-R1">{{ stableInfo.name }}</div>
        <div class="head-name">Doctor:</div>
        <div class="head-content-R2">{{ entities[0].doctor.name }}</div>
        <div class="clear"></div>
        <div style="font-weight:bold; font-size:14pt;">Chemistry</div>
        <div style="float:right; padding-right:10px;">Page: {{ 0|pageNo }}</div>
    </div>
    <div class="clear"></div>
    <br />

    <table class="table table-bordered table-hover table-condensed table-centered">
    <thead>
    <tr style="font-size: 10px;">
        <th>Date/Time</th>
        <th>AST</th>
        <th>CK</th>
        <th>LDH</th>
        <th>GGT</th>
        <th>ALP</th>
        <th>T. BIL</th>
        <th>STP</th>
        <th>ALB</th>
        <th>CREA</th>
        <th>BUN</th>
        <th>GLUC</th>
        <th>D. BIL</th>
        <th>SAA</th>
        <th>IRON</th>
    </tr>
    <tr style="font-size: 10px;">
        <td></td>
        <td width="50" style="white-space: nowrap;">150-500<br />U/L</td>
        <td width="50" style="white-space: nowrap;">90-350<br />U/L</td>
        <td width="50" style="white-space: nowrap;">160-490<br />U/L</td>
        <td width="50" style="white-space: nowrap;">11-40<br />U/L</td>
        <td width="50" style="white-space: nowrap;">149-395<br />U/L</td>
        <td width="50" style="white-space: nowrap;">0.3-3.0<br />mg/dL</td>
        <td width="50" style="white-space: nowrap;">5.7-7.9<br />g/dL</td>
        <td width="50" style="white-space: nowrap;">2.3-3.9<br />g/dL</td>
        <td width="50" style="white-space: nowrap;">1-3<br />mg/dL</td>
        <td width="50" style="white-space: nowrap;">10-25<br />mg/dL</td>
        <td width="50" style="white-space: nowrap;">50-115<br />mg/dL</td>
        <td width="50" style="white-space: nowrap;"><br />mg/dL</td>
        <td width="50" style="white-space: nowrap;">0-12<br />µg/ml</td>
        <td width="50" style="white-space: nowrap;">14-31<br />µmol/L</td>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td style="white-space: nowrap; text-align: left;">{{ entity.testedDate|date('m-d-Y H:i:s') }}</td>
            <td>{{ entity.cAst }}</td>
            <td>{{ entity.cCk }}</td>
            <td>{{ entity.cLd }}</td>
            <td>{{ entity.cGct }}</td>
            <td>{{ entity.cAlp }}</td>
            <td>{{ entity.cTBil|number_format(1, '.', '') }}</td>
            <td>{{ entity.cStp|number_format(1, '.', '') }}</td>
            <td>{{ entity.cAlb|number_format(1, '.', '') }}</td>
            <td>{{ entity.cCrea|number_format(1, '.', '') }}</td>
            <td>{{ entity.cUn }}</td>
            <td>{{ entity.cGluc }}</td>
            <td>{{ entity.cDBil|number_format(1, '.', '') }}</td>
            <td>{% if entity.cSaa == -1.0 %}&nbsp;{% else %}{{ entity.cSaa }}{% endif %}</td>
            <td>{% if entity.cIron == -1.0 %}&nbsp;{% else %}{{ entity.cIron }}{% endif %}</td>
        </tr>
        {% if loop.index % 25 == 0 and loop.last != true %}
            </tbody>
            </table>
            <p style=" text-align:center; font-size: 12px;">P O Box 9373, Dubai, UAE. Tel: 3366666, Fax: 3359575 | Lab Fax: 3366797</p>
            <div class="page-break"></div>
            <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
                <p class="labt">LABORATORY REPORT</p>
            </div>
            <div class="main" style="font-size: 12px; display: block; font-weight: bold;">
                <div class="head-name">Horse: </div>
                <div class="head-content-R1">{{ horseInfo.name }}</div>
                <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
                <div class="head-content-R2">{{ firstTestDate|date('m-d-Y') }} To: {{ lastTestDate|date('m-d-Y') }}</div>
                <div class="clear"></div>
                <div class="head-name">Stable: </div>
                <div class="head-content-R1">{{ stableInfo.name }}</div>
                <div class="head-name">Doctor:</div>
                <div class="head-content-R2">{{ entities[0].doctor.name }}</div>
                <div class="clear"></div>
                <div style="font-weight:bold; font-size:14pt;">Chemistry</div>
                <div style="float:right; padding-right:10px;">Page: {{ 0|pageNo }}</div>
            </div>
            <div class="clear"></div>
            <br />

            <table class="table table-bordered table-hover table-condensed table-centered">
            <thead>
            <tr style="font-size: 10px;">
                <th>Date/Time</th>
                <th>AST</th>
                <th>CK</th>
                <th>LDH</th>
                <th>GGT</th>
                <th>ALP</th>
                <th>T. BIL</th>
                <th>STP</th>
                <th>ALB</th>
                <th>CREA</th>
                <th>BUN</th>
                <th>GLUC</th>
                <th>D. BIL</th>
                <th>SAA</th>
                <th>IRON</th>
            </tr>
            <tr style="font-size: 10px;">
                <td></td>
                <td width="50" style="white-space: nowrap;">150-500<br />U/L</td>
                <td width="50" style="white-space: nowrap;">90-350<br />U/L</td>
                <td width="50" style="white-space: nowrap;">160-490<br />U/L</td>
                <td width="50" style="white-space: nowrap;">11-40<br />U/L</td>
                <td width="50" style="white-space: nowrap;">149-395<br />U/L</td>
                <td width="50" style="white-space: nowrap;">0.3-3.0<br />mg/dL</td>
                <td width="50" style="white-space: nowrap;">5.7-7.9<br />g/dL</td>
                <td width="50" style="white-space: nowrap;">2.3-3.9<br />g/dL</td>
                <td width="50" style="white-space: nowrap;">1-3<br />mg/dL</td>
                <td width="50" style="white-space: nowrap;">10-25<br />mg/dL</td>
                <td width="50" style="white-space: nowrap;">50-115<br />mg/dL</td>
                <td width="50" style="white-space: nowrap;"><br />mg/dL</td>
                <td width="50" style="white-space: nowrap;">0-12<br />µg/ml</td>
                <td width="50" style="white-space: nowrap;">14-31<br />µmol/L</td>
            </tr>
            </thead>
            <tbody>
        {% endif %}
    {% endfor %}
    </tbody>
    </table>
    <p style=" text-align:center; font-size: 12px;">P O Box 9373, Dubai, UAE. Tel: 3366666, Fax: 3359575 | Lab Fax: 3366797</p>
    <div class="page-break"></div>
{% endif %}

{% if showElec == true %}
    <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
        <p class="labt">LABORATORY REPORT</p>
    </div>
    <div class="main" style="font-size: 12px; display: block; font-weight: bold;">
        <div class="head-name">Horse: </div>
        <div class="head-content-R1">{{ horseInfo.name }}</div>
        <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
        <div class="head-content-R2">{{ firstTestDate|date('m-d-Y') }} To: {{ lastTestDate|date('m-d-Y') }}</div>
        <div class="clear"></div>
        <div class="head-name">Stable: </div>
        <div class="head-content-R1">{{ stableInfo.name }}</div>
        <div class="head-name">Doctor:</div>
        <div class="head-content-R2">{{ entities[0].doctor.name }}</div>
        <div class="clear"></div>
        <div style="font-weight:bold; font-size:14pt;">Electrolytes</div>
        <div style="float:right; padding-right:10px;">Page: {{ 0|pageNo }}</div>
    </div>
    <div class="clear"></div>
    <br />

    <table class="table table-bordered table-hover table-condensed table-centered">
    <thead>
    <tr style="font-size: 10px;">
        <th>Date/Time</th>
        <th>Na</th>
        <th>K</th>
        <th>Cl</th>
        <th>Bicarb</th>
        <th>Mg</th>
        <th>Ca</th>
        <th>iCa</th>
        <th>pH</th>
        <th>Bun</th>
        <th>Gluc</th>
        <th>Hb</th>
        <th>Hct</th>
    </tr>
    <tr style="font-size: 10px;">
        <td></td>
        <td width="50" style="white-space: nowrap;">132-147<br />mmol/L</td>
        <td width="50" style="white-space: nowrap;">2.8-4.7<br />mmol/L</td>
        <td width="50" style="white-space: nowrap;">95-110<br />mmol/L</td>
        <td width="50" style="white-space: nowrap;">20.7-28.9<br />mmol/L</td>
        <td width="50" style="white-space: nowrap;">1.3-3.2<br />mg/dL</td>
        <td width="50" style="white-space: nowrap;">9.1-13.4<br />mg/dL</td>
        <td width="50" style="white-space: nowrap;">1.25-1.75<br />mmol/L</td>
        <td width="50" style="white-space: nowrap;">7.32-7.44</td>
        <td width="50" style="white-space: nowrap;">10-25<br />mg/dL</td>
        <td width="50" style="white-space: nowrap;">50-115<br />mg/dL</td>
        <td width="50" style="white-space: nowrap;">10-18<br />g/dL</td>
        <td width="50" style="white-space: nowrap;">32-48<br />%</td>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td style="white-space: nowrap; text-align: left;">{{ entity.testedDate|date('m-d-Y H:i:s') }}</td>
            <td>{% if entity.eNa == -1.0 %}&nbsp;{% else %}{{ entity.eNa|number_format(0, '.', '') }}{% endif %} </td>
            <td>{% if entity.eK == -1.0 %}&nbsp;{% else %}{{ entity.eK|number_format(1, '.', '') }}{% endif %} </td>
            <td>{% if entity.eCl == -1.0 %}&nbsp;{% else %}{{ entity.eCl|number_format(0, '.', '') }}{% endif %} </td>
            <td>{% if entity.eBicarb == -1.0 %}&nbsp;{% else %}{{ entity.eBicarb|number_format(1, '.', '') }}{% endif %} </td>
            <td>{% if entity.eMg == -1.0 %}&nbsp;{% else %}{{ entity.eMg|number_format(1, '.', '') }}{% endif %} </td>
            <td>{% if entity.eCa == -1.0 %}&nbsp;{% else %}{{ entity.eCa|number_format(1, '.', '') }}{% endif %} </td>
            <td>{% if entity.eIca == -1.0 %}&nbsp;{% else %}{{ entity.eIca|number_format(2, '.', '') }}{% endif %} </td>
            <td>{% if entity.ePh == -1.0 %}&nbsp;{% else %}{{ entity.ePh|number_format(3, '.', '') }}{% endif %} </td>
            <td>{% if entity.eBun == -1.0 %}&nbsp;{% else %}{{ entity.eBun|number_format(0, '.', '') }}{% endif %} </td>
            <td>{% if entity.eGluc == -1.0 %}&nbsp;{% else %}{{ entity.eGluc|number_format(0, '.', '') }}{% endif %} </td>
            <td>{% if entity.eHb == -1.0 %}&nbsp;{% else %}{{ entity.eHb|number_format(1, '.', '') }}{% endif %} </td>
            <td>{% if entity.eHct == -1.0 %}&nbsp;{% else %}{{ entity.eHct|number_format(1, '.', '') }}{% endif %} </td>
        </tr>
        {% if loop.index % 25 == 0 and loop.last != true %}
            </tbody>
            </table>
            <p style=" text-align:center; font-size: 12px;">P O Box 9373, Dubai, UAE. Tel: 3366666, Fax: 3359575 | Lab Fax: 3366797</p>
            <div class="page-break"></div>
            <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
                <p class="labt">LABORATORY REPORT</p>
            </div>
            <div class="main" style="font-size: 12px; display: block; font-weight: bold;">
                <div class="head-name">Horse: </div>
                <div class="head-content-R1">{{ horseInfo.name }}</div>
                <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
                <div class="head-content-R2">{{ firstTestDate|date('m-d-Y') }} To: {{ lastTestDate|date('m-d-Y') }}</div>
                <div class="clear"></div>
                <div class="head-name">Stable: </div>
                <div class="head-content-R1">{{ stableInfo.name }}</div>
                <div class="head-name">Doctor:</div>
                <div class="head-content-R2">{{ entities[0].doctor.name }}</div>
                <div class="clear"></div>
                <div style="font-weight:bold; font-size:14pt;">Electrolytes</div>
                <div style="float:right; padding-right:10px;">Page: {{ 0|pageNo }}</div>
            </div>
            <div class="clear"></div>
            <br />

            <table class="table table-bordered table-hover table-condensed table-centered">
            <thead>
            <tr style="font-size: 10px;">
                <th>Date/Time</th>
                <th>Na</th>
                <th>K</th>
                <th>CL</th>
                <th>Bicarb</th>
                <th>MG</th>
                <th>CA</th>
                <th>ICA</th>
                <th>PH</th>
                <th>BUN</th>
                <th>GLUC</th>
                <th>HB</th>
                <th>Hct</th>
            </tr>
            <tr style="font-size: 10px;">
                <td></td>
                <td width="50" style="white-space: nowrap;">132-147<br />mmol/L</td>
                <td width="50" style="white-space: nowrap;">2.8-4.7<br />mmol/L</td>
                <td width="50" style="white-space: nowrap;">95-110<br />mmol/L</td>
                <td width="50" style="white-space: nowrap;">20.7-28.9<br />mmol/L</td>
                <td width="50" style="white-space: nowrap;">1.3-3.2<br />mg/dL</td>
                <td width="50" style="white-space: nowrap;">9.1-13.4<br />mg/dL</td>
                <td width="50" style="white-space: nowrap;">1.25-1.75<br />mmol/L</td>
                <td width="50" style="white-space: nowrap;">7.32-7.44</td>
                <td width="50" style="white-space: nowrap;">10-25<br />mg/dL</td>
                <td width="50" style="white-space: nowrap;">50-115<br />mg/dL</td>
                <td width="50" style="white-space: nowrap;">10-18<br />g/dL</td>
                <td width="50" style="white-space: nowrap;">32-48<br />%</td>
            </tr>
            </thead>
            <tbody>
        {% endif %}
    {% endfor %}
    </tbody>
    </table>
    <p style=" text-align:center; font-size: 12px;">P O Box 9373, Dubai, UAE. Tel: 3366666, Fax: 3359575 | Lab Fax: 3366797</p>
    <div class="page-break"></div>
{% endif %}