{% extends '::print.html.twig' %}

{% block body -%}

    <div class="">

    <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
        <p class="labt">LABORATORY REPORT</p>
    </div>

    <div class="main" style="font-size: 12px; display: block; font-weight: bold;">
        <div class="head-name">Horse: </div>
        <div class="head-content-R11">{{ entity.horse.name }}</div>
        <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
        <div class="head-content-R22">{{ entity.testedDate|date('m-d-Y H:i:s') }}</div>
        <div class="clear"></div>
        <div class="head-name">Stable: </div>
        <div class="head-content-R11">{{ entity.horse.stable.name }}</div>
        <div class="head-name">Doctor:</div>
        <div class="head-content-R22">{{ entity.doctor.name }}</div>
    </div>
    <div class="clear"></div>

        <div>

            <h3>Cytology - CSF Analysis Results</h3>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <table class="table table-bordered width-80">
                <tbody>
                <tr>
                    <th>Sample Date</th>
                    <td style="width: 200px;">{{ entity.sampleDate|date('m-d-Y H:i:s') }}</td>
                    <th>C&S Aerobic</th>
                    <td>{{ entity.csaerobic }}</td>
                </tr>

                <tr>
                    <th> </th>
                    <td></td>
                    <th>C&S Anaerobic</th>
                    <td>{{ entity.csanaerobic }}</td>
                </tr>
                </tbody>
            </table>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <table class="table table-bordered width-801">
                <tbody>
                <tr>
                    <th>WBC</th>
                    <td style="width: 100px;">{{ entity.wbc }} U/L</td>
                    <th>AST</th>
                    <td style="width: 100px;">{{ entity.ast }} U/L</td>
                </tr>
                <tr>
                    <th>PMN</th>
                    <td>{{ entity.pmn }} %</td>
                    <th>CK</th>
                    <td>{{ entity.ck }} U/L</td>
                </tr>
                <tr>
                    <th>Mononucl</th>
                    <td>{{ entity.mononucl }} %</td>
                    <th>GLUCOSE</th>
                    <td>{{ entity.glucose }} U/L</td>
                </tr>
                <tr>
                    <th>T.P (Refrac)</th>
                    <td>{{ entity.tprefrac }} g/dL</td>
                    <th>TP</th>
                    <td>{{ entity.tp }} U/L</td>
                </tr>
                <tr>
                    <th>Lactate</th>
                    <td>{{ entity.lactate }} mmol/L</td>
                    <th>ALB</th>
                    <td>{{ entity.alb }} g/dL</td>
                </tr>

                </tbody>
            </table>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <table>
                <tbody>
                <tr>
                    <th>PMNS</th>
                    <td>
                        {% if entity.test1 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>

                    <th style="width: 200px;">RBC'S</th>
                    <td>
                        {% if entity.test2 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>LYMPHS</th>
                    <td>
                        {% if entity.test3 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>

                    <th>BACTERIA</th>
                    <td>
                        {% if entity.test4 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>MONOCYTES</th>
                    <td>
                        {% if entity.test5 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>

                    <th>COCCI</th>
                    <td>
                        {% if entity.test6 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>MACROPHAGES</th>
                    <td>
                        {% if entity.test7 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>

                    <th>RODS</th>
                    <td>
                        {% if entity.test8 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>EOSINOPHILS</th>
                    <td>
                        {% if entity.test9 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>

                    <th>INTRA CELLULAR</th>
                    <td>
                        {% if entity.test10 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th><td>&nbsp;</td>

                    <th>EXTRA CELLULAR</th>
                    <td>
                        {% if entity.test11 == true %}
                            &#10003;
                        {% else %}
                            &#120;
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <div>
                <p style="font-weight: bold;">Comments:-</p>
                <p>{{ entity.comments }}</p>
            </div>

            <div style="font-size: 14px; padding-top: 25px;"><b>Tested by:</b> {{ entity.testedBy.name }}</div>

        </div>
    <div class="divFooter"><p style="padding-left: 150px; font-size: 12px;">P O Box 9373, Dubai, UAE. Tel: 3366666, Fax: 3359575 | Lab Fax: 3366797</p></div>
    </div>
{% endblock %}