{% extends '::print.html.twig' %}

{% block body -%}

    <div class="">

        <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
            <p class="labt">LABORATORY REPORT</p>
        </div>

        <div class="main" style="font-size: 14px; display: block; font-weight: bold;">
            <div class="head-name">Horse: </div>
            <div class="head-content-R11">{{ entity.horse.name }}</div>
            <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
            <div class="head-content-R22">{{ entity.testedDate|date('m-d-Y H:i:s') }}</div>
            <div class="clear"></div>
            <div class="head-name">Stable: </div>
            <div class="head-content-R11">{{ entity.horse.stable.name }}</div>
            <div class="head-name">Doctor:</div>
            <div class="head-content-R22">{{ entity.doctor.name }}</div>
        </div>
        <div class="clear"></div>

        <div>

            <h3>Bacteria Analysis Report</h3>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <table class="table table-bordered width-801">
                <tbody>
                <tr>
                    <th>Sample Date</th>
                    <td>{{ entity.sampleDate|date('Y-m-d H:i:s') }}</td>
                    <th>Sample Source</th>
                    <td style="text-align: left;">{{ entity.swabSource }}</td>
                </tr>
                <tr>
                    <th>Gram Stain</th>
                    <td>{{ entity.gramStain }}</td>
                    <th>Fungi Isolation</th>
                    <td style="text-align: left;">{{ entity.fungiIsolation }}</td>
                </tr>
                <tr>
                    <th>Bacteria Isolation</th>
                    <td colspan="3" style="text-align: left;">{{ entity.bacteriaIsolation }}</td>
                </tr>

                </tbody>
            </table>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <table class="table table-bordered width-802" style="width: 800px;">
                <tbody>
                <tr>
                    <th style="text-align: left;">Antibiotics</th>
                    <th>Test 1</th>
                    <th>Test 2</th>
                    <th>Test 3</th>
                    <th>Test 4</th>
                    <th>Test 5</th>
                </tr>
                {% for testValue in entity.testValues %}
                    <tr>
                        <td style="text-align: left;">{{ testValue.antibiotics}}</td>
                        <td align="center">{{ testValue.test1}}</td>
                        <td align="center">{{ testValue.test2}}</td>
                        <td align="center">{{ testValue.test3}}</td>
                        <td align="center">{{ testValue.test4}}</td>
                        <td align="center">{{ testValue.test5}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <div>
                <p style="font-weight: bold;">NOTE: S - Susceptible &nbsp;&nbsp; I - Intermediate  &nbsp;&nbsp; R - Resistant</p>
                <p style="font-weight: bold;">Comments:-</p>
                <p>{{ entity.comments }}</p>
            </div>

            <div style="font-size: 14px; padding-top: 25px;"><b>Tested by:</b> {{ entity.testedBy.name }}</div>

        </div>
        <div class="divFooter"><p style="padding-left: 160px; font-size: 10px;">P O Box 9373, Dubai, UAE. Tel: 366666, Fax: 3359575 | Lab Fax: 3366797</p></div>
    </div>
{% endblock %}