<div>
    {{ form_widget(form.antibiotics) }}
    {{ form_widget(form.code) }}
    {{ form_widget(form.test1) }}
    {{ form_widget(form.test2) }}
    {{ form_widget(form.test3) }}
    {{ form_widget(form.test4) }}
    {{ form_widget(form.test5) }}
    <a href="#" onclick="removeThis(this);">X</a>
</div>