{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <section>

                    <ul class="breadcrumb">
                        <li><a href="{{ path('delma_home') }}">Dashboard</a> <span class="divider">/</span></li>
                        <li class="active">Horse</li>
                    </ul>

                    <h4>Horse list</h4>

                    <div class="row-fluid">
                        <div class="span10">

                            <form action="{{ path(app.request.attributes.get('_route')) }}" method="get"  class="well form-search">
                                <div class="row-fluid" style="padding-bottom: 5px;">
                                    <div class="span2 right">Search:</div>
                                    <div class="span4">{{ form_widget(filterForm.searchText) }}</div>
                                    <div class="span2 right">Stable:</div>
                                    <div class="span4">{{ form_widget(filterForm.stable) }}</div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 right"></div>
                                    <div class="span4">
                                        {{ form_widget(filterForm.filter) }}
                                    </div>
                                </div>
                                {{ form_row (filterForm._token) }}
                            </form>

                        </div>
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <div class="span2"><a href="{{ path('horse_new') }}" class="btn btn-success"><i class="icon-plus icon-white"></i> New Horse</a></div>
                        {% endif %}
                    </div>

                    <table class="table table-bordered table-hover table-condensed table-centered">
                        <thead>
                        <tr>
                            <th style="text-align: center;">Id</th>
                            <th>Name</th>
                            <th>Alternatename</th>
                            <th>Stable</th>
                            <th>Dob</th>
                            <th>Gender</th>
                            <th>Type</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td style="text-align: center;"><a href="{{ path('horse_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.alternateName }}</td>
                                <td>{{ entity.stable.name }}</td>
                                <td>{% if entity.dob %}{{ entity.dob|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ entity.gender }}</td>
                                <td>{{ entity.type }}</td>
                                <td style="text-align: center;">
                                    <a class="btn btn-mini" href="{{ path('horse_show', { 'id': entity.id }) }}"><i class="icon-eye-open icon-large"></i></a>
                                    <a class="btn btn-mini" href="{{ path('horse_edit', { 'id': entity.id }) }}"><i class="icon-pencil icon-large"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination center">
                        <ul>
                            {{ knp_pagination_render(pagination) }}
                        </ul>
                    </div>

                </section>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/.fluid-container-->
{% endblock %}
