{% extends '::base.html.twig' %}

{% block body -%}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <section>

                    <ul class="breadcrumb">
                        <li><a href="{{ path('delma_home') }}">Dashboard</a> <span class="divider">/</span></li>
                        <li><a href="{{ path('stable') }}">Stable</a> <span class="divider">/</span></li>
                        <li class="active">New Stable</li>
                    </ul>

                    <div class="row show-grid">
                        <div class="span6 offset3">

                            <h4>Stable - New</h4>

                            <form class="form-horizontal" action="{{ path('stable_create') }}" method="post" {{ form_enctype(form) }}>

                                <div class="control-group">
                                    {{ form_errors(form.name) }}
                                    <label class="control-label" for="">{{ form_label(form.name, 'Name') }}</label>
                                    <div class="controls">{{ form_widget(form.name, {'attr': {'class': ''}}) }}</div>
                                </div>

                                <div class="control-group">
                                    {{ form_errors(form.sgroup) }}
                                    <label class="control-label" for="">{{ form_label(form.sgroup, 'Group') }}</label>
                                    <div class="controls">{{ form_widget(form.sgroup, {'attr': {'class': ''}}) }}</div>
                                </div>

                                <div class="control-group">
                                    {{ form_errors(form.phone) }}
                                    <label class="control-label" for="">{{ form_label(form.phone, 'Phone', {'attr': {'class': ''}})  }}</label>
                                    <div class="controls">{{ form_widget(form.phone, {'attr': {'class': ''}}) }}</div>
                                </div>

                                <div class="control-group">
                                    {{ form_errors(form.fax) }}
                                    <label class="control-label" for="">{{ form_label(form.fax, 'Fax', {'attr': {'class': ''}})  }}</label>
                                    <div class="controls">{{ form_widget(form.fax, {'attr': {'class': ''}}) }}</div>
                                </div>

                                <div class="control-group">
                                    {{ form_errors(form.address) }}
                                    <label class="control-label" for="">{{ form_label(form.address, 'Address', {'attr': {'class': ''}})  }}</label>
                                    <div class="controls">{{ form_widget(form.address, {'attr': {'class': ''}}) }}</div>
                                </div>

                                <div class="control-group">
                                    {{ form_errors(form.city) }}
                                    <label class="control-label" for="">{{ form_label(form.city, 'City', {'attr': {'class': ''}})  }}</label>
                                    <div class="controls">{{ form_widget(form.city, {'attr': {'class': ''}}) }}</div>
                                </div>

                                <div class="control-group">
                                    {{ form_errors(form.country) }}
                                    <label class="control-label" for="">{{ form_label(form.country, 'Country', {'attr': {'class': ''}})  }}</label>
                                    <div class="controls">{{ form_widget(form.country, {'attr': {'class': ''}}) }}</div>
                                </div>

                                <div class="controls">
                                    <button class="btn btn-primary" type="submit" value="Save" ><i class="icon-ok-sign icon-white"></i> Save</button>
                                    <button class="btn btn-warning" type="reset" value="Reset"><i class="icon-refresh icon-white"></i> Refresh</button>
                                </div>

                                {{ form_row (form._token) }}
                            </form>

                            <hr />
                            <div style="padding: 0 40px 20px;">
                                <div class="btn"><a href="{{ path('stable') }}"><i class="icon-arrow-left"></i> Back to the list</a></div>
                                <div class="pull-right"></div>
                            </div>


                        </div>
                    </div>




                </section>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/.fluid-container-->

{% endblock %}
