{% extends '::base.html.twig' %}

{% block body -%}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <section>

                    <ul class="breadcrumb">
                        <li><a href="{{ path('delma_home') }}">Dashboard</a> <span class="divider">/</span></li>
                        <li><a href="{{ path('test_cytology_pfa') }}">Cytology - Pleural Fluid Analysis Test</a> <span class="divider">/</span></li>
                        <li class="active">Edit Test</li>
                    </ul>

                    <div class="row show-grid">
                        <div class="span8 offset2">

                            <h4>Cytology - Pleural Fluid Analysis Test - Edit</h4>
                            <form action="{{ path('test_cytology_pfa_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

                                {{ include('DelmaEquineBundle::testEditExtras.html.twig') }}

                                <hr />

                                <div class="row-fluid">
                                    <div class="span2 right">Sample Date</div>
                                    <div class="span4">{{ form_widget(edit_form.sampleDate, {'attr': {'class': 'date'}} ) }}</div>
                                    <div class="span2 right">C&S Aerobic</div>
                                    <div class="span4">{{ form_widget(edit_form.csaerobic) }}</div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 right"> </div>
                                    <div class="span4"> </div>
                                    <div class="span2 right">C&S Anaerobic</div>
                                    <div class="span4">{{ form_widget(edit_form.csanaerobic) }}</div>
                                </div>

                                <div style="margin: 0 30px;">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#1" data-toggle="tab">Pleural Fluid Analysis</a></li>
                                        <li class=""><a href="#2" data-toggle="tab">Slide Prepared</a></li>
                                    </ul>

                                    <div class="tab-content" style="height: 200px;">
                                        <div class="tab-pane active" id="1">

                                            <table class="table noborder">
                                                <tbody>

                                                <tr>
                                                    <td>WBC</td>
                                                    <td class="w60">{{ form_widget(edit_form.wbc) }}</td>
                                                    <td class="w60">uL</td>
                                                    <td style="width: 50px;">&nbsp;</td>
                                                    <td>LACTATE</td>
                                                    <td class="w60">{{ form_widget(edit_form.lactate) }}</td>
                                                    <td class="w60">U/L</td>
                                                </tr>
                                                <tr>
                                                    <td>PMN</td>
                                                    <td class="w60">{{ form_widget(edit_form.pmn) }}</td>
                                                    <td class="w60">%</td>
                                                    <td>&nbsp;</td>
                                                    <td>TRIGLYC</td>
                                                    <td class="w60">{{ form_widget(edit_form.triglyc) }}</td>
                                                    <td class="w60">U/L</td>
                                                </tr>
                                                <tr>
                                                    <td>Mononucl</td>
                                                    <td class="w60">{{ form_widget(edit_form.mononucl) }}</td>
                                                    <td class="w60">%</td>
                                                    <td>&nbsp;</td>
                                                    <td>GLUCOSE</td>
                                                    <td class="w60">{{ form_widget(edit_form.glucose) }}</td>
                                                    <td class="w60">mg/dL</td>
                                                </tr>
                                                <tr>
                                                    <td>T.P(Refrac)</td>
                                                    <td class="w60">{{ form_widget(edit_form.tprefrac) }}</td>
                                                    <td class="w60">g/dL</td>
                                                    <td>&nbsp;</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="tab-pane" id="2">

                                            <table class="table noborder">
                                                <tbody>
                                                <tr>
                                                    <td class="w60">{{ form_widget(edit_form.test1) }}</td>
                                                    <td>PMNS</td>
                                                    <td class="w60">{{ form_widget(edit_form.test2) }}</td>
                                                    <td>BACTERIA</td>
                                                </tr>
                                                <tr>
                                                    <td class="w60">{{ form_widget(edit_form.test3) }}</td>
                                                    <td>LYMPHS</td>
                                                    <td class="w60">{{ form_widget(edit_form.test4) }}</td>
                                                    <td>COCCI</td>
                                                </tr>

                                                <tr>
                                                    <td class="w60">{{ form_widget(edit_form.test5) }} </td>
                                                    <td>MONOCYTES</td>
                                                    <td class="w60">{{ form_widget(edit_form.test6) }}</td>
                                                    <td>RODS</td>
                                                </tr>
                                                <tr>
                                                    <td class="w60">{{ form_widget(edit_form.test7) }}</td>
                                                    <td>MACROPHAGES</td>
                                                    <td class="w60">{{ form_widget(edit_form.test8) }}</td>
                                                    <td>INTRA CELLULAR</td>
                                                </tr>

                                                <tr>
                                                    <td class="w60">{{ form_widget(edit_form.test9) }}</td>
                                                    <td>EOSINOPHILS</td>
                                                    <td class="w60">{{ form_widget(edit_form.test10) }}</td>
                                                    <td>EXTRA CELLULAR</td>
                                                </tr>

                                                </tbody>
                                            </table>

                                        </div>

                                    </div>

                                    <div class="row-fluid">
                                        <div class="span12 ta600" >Microscopic Evaluation <br />{{ form_widget(edit_form.comments) }}</div>
                                    </div>

                                    <div class="controls">
                                        <button class="btn btn-primary" type="submit" value="Save" ><i class="icon-ok-sign icon-white"></i> Save</button>
                                        <button class="btn btn-warning" type="reset" value="Reset"><i class="icon-refresh icon-white"></i> Refresh</button>
                                        <a href="{{ path('test_cytology_pfa_new') }}" class="btn btn-success"><i class="icon-plus icon-white"></i> New PFA Test</a>
                                    </div>

                                    <input type="hidden" name="_method" value="PUT" />
                                    {{ form_row (edit_form._token) }}
                            </form>

                            <hr />

                            <div style="padding: 0 40px 20px;">
                                <div class="btn"><a href="{{ path('test_cytology_pfa') }}"><i class="icon-arrow-left"></i> Back to the list</a></div>
                                <div class="pull-right">
                                    <button class="btn btn-danger" onclick="deleteTest('{{ path('test_cytology_pfa_delete', { 'id': entity.id }) }}');" type="button"><i class="icon-trash icon-white"></i> Delete</button>
                                </div>
                            </div>

                        </div>
                </section>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/.fluid-container-->
    <script language="javascript">


        $(document).ready(function() {


            $(':input').keypress(function(e){
                if (e.which == 13) {
                    if (!this.form.tabOrder) {
                        var els = this.form.elements,
                                ti = [],
                                rest = [];
                        for (var i = 0, il = els.length; i < il; i++) {
                            if (els[i].tabIndex > 0 &&
                                    !els[i].disabled &&
                                    !els[i].hidden &&
                                    !els[i].readOnly &&
                                    els[i].type !== 'hidden') {
                                ti.push(els[i]);
                            }
                        }
                        ti.sort(function(a,b){ return a.tabIndex - b.tabIndex; });
                        for (i = 0, il = els.length; i < il; i++) {
                            if (els[i].tabIndex == 0 &&
                                    !els[i].disabled &&
                                    !els[i].hidden &&
                                    !els[i].readOnly &&
                                    els[i].type !== 'hidden') {
                                rest.push(els[i]);
                            }
                        }
                        this.form.tabOrder = ti.concat(rest);
                    }
                    for (var j = 0, jl = this.form.tabOrder.length; j < jl; j++) {
                        if (this === this.form.tabOrder[j]) {
                            if (j+1 < jl) {
                                $(this.form.tabOrder[j+1]).select();
                            } else {
                                $(this).blur();
                            }
                        }

                    }
                    return false;
                }
            });

        });
    </script>
{% endblock %}
