{% extends '::print.html.twig' %}

{% block body -%}

    <div class="">

        <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
            <p class="labt">LABORATORY REPORT</p>
        </div>

        <div class="main" style="font-size: 12px; display: block; font-weight: bold;">
            <div class="head-name">Horse: </div>
            <div class="head-content-R11">{{ entity.horse.name }}</div>
            <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
            <div class="head-content-R22">{{ entity.testedDate|date('m-d-Y H:i:s') }}</div>
            <div class="clear"></div>
            <div class="head-name">Stable: </div>
            <div class="head-content-R11">{{ entity.horse.stable.name }}</div>
            <div class="head-name">Doctor:</div>
            <div class="head-content-R22">{{ entity.doctor.name }}</div>
        </div>
        <div class="clear"></div>

        <div>

            <h3>Glucose Test Results</h3>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <table class="table table-bordered width-802">
                <tbody>
                <tr><th>Time (secs)</th><th>Result (mg/dL)</th></tr>

                {% for testValue in entity.testValues %}
                    <tr>
                        <td>{{ testValue.time}}</td>
                        <td>{{ testValue.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <div>
                <p style="font-weight: bold;">Comment:-</p>
                <p>{{ entity.comments }}</p>
            </div>

        </div>
        <div class="divFooter"><p style="padding-left: 150px; font-size: 12px;">P O Box 9373, Dubai, UAE. Tel: 366666, Fax: 3359575 | Lab Fax: 3366797</p></div>
    </div>
{% endblock %}