{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <section>

                    <ul class="breadcrumb">
                        <li><a href="{{ path('delma_home') }}">Dashboard</a> <span class="divider">/</span></li>
                        <li><a href="{{ path('user') }}">User</a> <span class="divider">/</span></li>
                        <li class="active">New User</li>
                    </ul>

                    <div class="row show-grid">
                        <div class="span6 offset3">

                            <h4>User - New</h4>

                            <form  class="form-horizontal"  action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
                                <div class="control-group">
                                    {% if form_errors(form.firstname) %}
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            {{ form_errors(form.firstname) }}
                                        </div>
                                    {% endif %}
                                    <label class="control-label" for="">{{ form_label(form.firstname, 'First Name' ) }}</label>
                                    <div class="controls">{{ form_widget(form.firstname) }}</div>
                                </div>

                                <div class="control-group">
                                    {% if form_errors(form.lastname) %}
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            {{ form_errors(form.lastname) }}
                                        </div>
                                    {% endif %}
                                    <label class="control-label" for="">{{ form_label(form.lastname, 'Last Name' ) }}</label>
                                    <div class="controls">{{ form_widget(form.lastname) }}</div>
                                </div>

                                <div class="control-group">
                                    {% if form_errors(form.email) %}
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            {{ form_errors(form.email) }}
                                        </div>
                                    {% endif %}
                                    <label class="control-label" for="">{{ form_label(form.email, 'Email' ) }}</label>
                                    <div class="controls">{{ form_widget(form.email) }}</div>
                                </div>

                                <div class="control-group">
                                    {% if form_errors(form.type) %}
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            {{ form_errors(form.type) }}
                                        </div>
                                    {% endif %}
                                    <label class="control-label" for="">{{ form_label(form.type, 'User Type' ) }}</label>
                                    <div class="controls">{{ form_widget(form.type) }}</div>
                                </div>


                                <div class="control-group">
                                     {% if form_errors(form.password) %}
                                         <div class="alert alert-error">
                                             <a class="close" data-dismiss="alert">&times;</a>
                                             {{ form_errors(form.password) }}
                                         </div>
                                      {% endif %}
                                        <label class="control-label" for="">{{ form_label(form.password, ' ' ) }}</label>
                                        <div class="controls">{{ form_widget(form.password) }}</div>

                                </div>





                                <div class="control-group">
                                    {% if form_errors(form.mobile) %}
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            {{ form_errors(form.mobile) }}
                                        </div>
                                    {% endif %}
                                    <label class="control-label" for="">{{ form_label(form.mobile, 'Mobile' ) }}</label>
                                    <div class="controls">{{ form_widget(form.mobile) }}</div>
                                </div>

                                <div class="control-group">
                                    {% if form_errors(form.enabled) %}
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            {{ form_errors(form.enabled) }}
                                        </div>
                                    {% endif %}
                                    <label class="control-label" for="">{{ form_label(form.enabled, 'Enabled' ) }}</label>
                                    <div class="controls">{{ form_widget(form.enabled) }}</div>
                                </div>

                                <div class="control-group">
                                    {% if form_errors(form.adminType) %}
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            {{ form_errors(form.adminType) }}
                                        </div>
                                    {% endif %}
                                    <label class="control-label" for="">{{ form_label(form.adminType, 'User Mode' ) }}</label>
                                    <div class="controls">{{ form_widget(form.adminType) }}</div>
                                </div>

                                <div class="controls">
                                    <button class="btn btn-primary" type="submit" value="Save" ><i class="icon-ok-sign icon-white"></i> Save</button>
                                    <button class="btn btn-warning" type="reset" value="Reset"><i class="icon-refresh icon-white"></i> Refresh</button>
                                </div>

                                {{ form_row (form._token) }}

                            </form>

                            <hr />
                            <div style="padding: 0 40px 20px;">
                                <div class="btn"><a href="{{ path('user') }}"><i class="icon-arrow-left"></i> Back to the list</a></div>
                                <div class="pull-right"></div>
                            </div>


                        </div>
                    </div>

                </section>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/.fluid-container-->
{% endblock %}
