{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <section>

                    <ul class="breadcrumb">
                        <li><a href="{{ path('delma_home') }}">Dashboard</a> <span class="divider">/</span></li>
                        <li><a href="{{ path('test_urine') }}">Urine Analysis</a> <span class="divider">/</span></li>
                        <li class="active">Edit</li>
                    </ul>

                    <div class="row show-grid">
                        <div class="span8 offset2">

                            <h4>Urine Analysis - Edit</h4>
                            <form action="{{ path('test_urine_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

                                {{ include('DelmaEquineBundle::testEditExtras.html.twig') }}

                                <hr />

                                <div class="row-fluid">
                                    <div class="span2 right">Leukocytes</div>
                                    <div class="span4">{{ form_widget(edit_form.leukocytes) }}</div>
                                    <div class="span2 right">Blood Sang</div>
                                    <div class="span4">{{ form_widget(edit_form.bloodsang) }}</div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2 right">Nitrates</div>
                                    <div class="span4">{{ form_widget(edit_form.nitrates) }}</div>
                                    <div class="span2 right">S. Gravity</div>
                                    <div class="span4">{{ form_widget(edit_form.sgravity) }}</div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span2 right">Urobilinogen</div>
                                    <div class="span4">{{ form_widget(edit_form.urobilinogen) }}</div>
                                    <div class="span2 right">Ketones</div>
                                    <div class="span4">{{ form_widget(edit_form.ketones) }}</div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2 right">Protein</div>
                                    <div class="span4">{{ form_widget(edit_form.protein) }}</div>
                                    <div class="span2 right">Bilurubin</div>
                                    <div class="span4">{{ form_widget(edit_form.bilirubin) }}</div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2 right">pH</div>
                                    <div class="span4">{{ form_widget(edit_form.ph) }}</div>
                                    <div class="span2 right">Glucose</div>
                                    <div class="span4">{{ form_widget(edit_form.glucose) }}</div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span12 ta600"><b>Comments / Microscopic Evaluation</b> <br />{{ form_widget(edit_form.comments) }}</div>
                                </div>

                                <div  style="margin: 0 30px;">
                                    <button class="btn btn-primary" type="submit" value="Save" ><i class="icon-ok-sign icon-white"></i> Save</button>
                                    <button class="btn btn-warning" type="reset" value="Reset"><i class="icon-refresh icon-white"></i> Refresh</button>
                                    <a href="{{ path('test_urine_new') }}" class="btn btn-success"><i class="icon-plus icon-white"></i> New Urine Test</a>
                                </div>

                                <input type="hidden" name="_method" value="PUT" />
                                {{ form_row (edit_form._token) }}
                            </form>

                            <hr />
                            <div style="padding: 0 40px 20px;">
                                <div class="btn"><a href="{{ path('test_urine') }}"><i class="icon-arrow-left"></i> Back to the list</a></div>
                                <div class="pull-right">
                                    <button class="btn btn-danger" onclick="deleteTest('{{ path('test_urine_delete', { 'id': entity.id }) }}');" type="button"><i class="icon-trash icon-white"></i> Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
{% endblock %}
