{% extends '::print.html.twig' %}

{% block body -%}

    <div class="">

        <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="DEH" style="padding:0px;" />
            <p class="labt">LABORATORY REPORT</p>
        </div>

        <div class="main" style="font-size: 12px; display: block; font-weight: bold;">
            <div class="head-name">Horse: </div>
            <div class="head-content-R11">{{ entity.horse.name }}</div>
            <div class="head-name">Date&nbsp;&nbsp;&nbsp;: </div>
            <div class="head-content-R22">{{ entity.testedDate|date('m-d-Y H:i:s') }}</div>
            <div class="clear"></div>
            <div class="head-name">Stable: </div>
            <div class="head-content-R11">{{ entity.horse.stable.name }}</div>
            <div class="head-name">Doctor:</div>
            <div class="head-content-R22">{{ entity.doctor.name }}</div>
        </div>
        <div class="clear"></div>

        <div>
            <p>&nbsp;</p>
            <h3>Urine Analysis Results</h3>
            <table>
                <tbody>

                <tr>
                    <th>Glucose</th>
                    <td>{{ entity.glucose }}</td>
                </tr>
                <tr>
                    <th>Bilirubin</th>
                    <td>{{ entity.bilirubin }}</td>
                </tr>
                <tr>
                    <th>Ketones</th>
                    <td>{{ entity.ketones }}</td>
                </tr>
                <tr>
                    <th>S.Gravity</th>
                    <td>{{ entity.sgravity }}</td>
                </tr>
                <tr>
                    <th>Blood Sang</th>
                    <td>{{ entity.bloodsang }}</td>
                </tr>
                <tr>
                    <th>pH</th>
                    <td>{{ entity.ph }}</td>
                </tr>
                <tr>
                    <th>Protein</th>
                    <td>{{ entity.protein }}</td>
                </tr>
                <tr>
                    <th>Urobilinogen</th>
                    <td>{{ entity.urobilinogen }}</td>
                </tr>
                <tr>
                    <th>Nitrates</th>
                    <td>{{ entity.Nitrates }}</td>
                </tr>
                <tr>
                    <th>Leukocytes</th>
                    <td>{{ entity.leukocytes }}</td>
                </tr>
                </tbody>
            </table>

            <p style="padding-left: 50px; font-weight: bold;"> </p>

            <div>
                <p>&nbsp;</p>
                <p style="font-weight: bold;">Comments</p>
                <p>{{ entity.comments|nl2br }}</p>

            </div>
            <div style="font-size: 14px; padding-top: 40px;"><b>Tested by:</b> {{ entity.testedBy.name }}</div>
        </div>
        <div class="divFooter"><p style="padding-left: 150px; font-size: 10px;">P O Box 9373, Dubai, UAE. Tel: 3366666, Fax: 3359575 | Lab Fax: 3366797</p></div>
    </div>
{% endblock %}